*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

:root{
    --background: rgb(24,24,24);
    --secondarry-background: rgb(21,21,21);
}

body{
    min-height: 100vh;
    background-color: var(--background);
    /*in declare ko to sa root for global usages kumbaga sa backend env  ganun*/
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em 15%;
    /*2em 15% on the sides and for responsiveness*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 3em;
}

nav ul a{
    color: white;
    opacity: 0.7;
    transition: 0.2s ease-in-out;
}

nav ul a:hover{
    opacity: 1;
}

.logo{
    font-size: 2em;
    color: white;
    font-weight: 800;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

.logo:hover{
    opacity: 1;
}

.button{
    padding: 0.5em 1em;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1.1em;
    border: 1px white solid;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.button:hover{
    background-color: white;
    color: var(--background)
}

span{
    background: linear-gradient(to right, #4e9242 , #c83eff);
    background-clip: text;
    color: transparent;
}

#menu{
    color: white;
    font-size: 3em;
    display: none;
}

section{
    min-height: 100vh;
    padding: 5% 15%;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;
}

#home img{
    width: 8vw;
    border-radius: 50%;
    margin-top: 3em;
}

.scrolling-text {
    position: relative;
    height: 3em; 
    overflow: hidden;
}

.scroll-item {
    position: flex;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.scroll-item.active {
    opacity: 1;
}


.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    max-width: 600vw;
}

.info-box h1{
    font-size: 3em;
    font-weight: 500;
}

.info-box h3{
    font-size: 2em;
    font-weight: 400;
}


.skillogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skillogos img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    transform: translateX(-100vw); 
    animation: slideIn 1s ease-out forwards;
    animation-delay: 0.3s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.skillogos img:nth-child(1) {
    animation-delay: 0.1s;
}

.skillogos img:nth-child(2) {
    animation-delay: 0.2s;
}

.skillogos img:nth-child(3) {
    animation-delay: 0.3s;
}

.skillogos img:nth-child(4) {
    animation-delay: 0.4s;
}

.skillogos img:nth-child(5) {
    animation-delay: 0.5s;
}

.skillogos img:nth-child(6) {
    animation-delay: 0.6s;
}

.skillogos img:nth-child(7) {
    animation-delay: 0.7s;
}

.skillogos img:nth-child(8) {
    animation-delay: 0.8s;
}

.skillogos img:nth-child(9) {
    animation-delay: 0.9s;
}

.skillogos img:nth-child(10) {
    animation-delay: 1.0s;
}

.skillogos img:nth-child(11) {
    animation-delay: 1.1s;
}

.skillogos img:nth-child(12) {
    animation-delay: 1.2s;
}

.skillogos img:nth-child(13) {
    animation-delay: 1.3s;
}

.skillogos img:nth-child(14) {
    animation-delay: 1.4s;
}

.skillogos img:nth-child(15) {
    animation-delay: 1.5s;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100vw);
        opacity: 0.5;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
}

.skillogos img:hover {
    transform: scale(1.1);
}


.info-box p{
    padding: 10px;
    opacity: 0.7;
}

.button-box{
    display: flex;
    gap: 1em;
}

.button-box .button:nth-of-type(2){
    /*so this button:nth blahblah chhecks the div and targets the specific location of the button okay HAHAHA*/
    background-color: white;
    color: var(--background);
}
.button-box .button:nth-of-type(2):hover{
    background-color: var(--background);
    color: white;
}

::-webkit-scrollbar{
    width: 20%;
    background-color: var(--background);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #5fa752 , #411c97);
}

#about{
    background-color: var(--secondarry-background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

#about img{
    width: 30vw;
    border-radius: 1em;
}

.about-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
}

.about-box h1{
    font-size: 5em;
}

.about-box p{
    color: white;
    opacity: 0.8;
}

.arsenal{
    display: flex;
    text-align: left;
    gap: 10em;
}

.arsenal ul{
    font-size: 1.3em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 0.8;
    align-items: baseline;
}

.arsenal ul li span{
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.2em;
    transition: 0.2s ease-in-out;
}

.arsenal ul li span:hover{
    transform: translateX(10px);
}

.arsenal ul li i{
    font-size: 1.2em;
}

.about-box h2{
    font-size: 2.5em;
}

#experience{
    background-color: var(--secondarry-background);
}

.header{
    text-align: center;
    font-size: 4rem;
    margin: 0.5em 0;
}

.experience-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 2em;
}

.box{
    border: 3px solid rgb(49,49,49);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 2rem;
    gap: 2em;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.box:hover{
    border: 3px solid rgb(100, 100, 100);
}

.box p{
    opacity: 0.8;
}

.box h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    margin: 0;
}

.box h1 span {
    display: inline-block;
    vertical-align: middle;
}

.box img{
    min-width: 25px;
    border-radius: 0.5em;
}

#contact{
    background-color: var(--background);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

form .input-box{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1em;
    width: 100%;
}

.input-box span{
    font-size: 1.5em;
    color: white;
}

form input, form textarea {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    outline: none;
    width: 100%;
}

form input:focus, form textarea:focus {
    background: rgb(229, 229, 229);
}

form input::placeholder, form textarea::placeholder {
    text-align: left;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    bottom: 0;
    background-color: var(--secondarry-background);
    width: 100%;
    padding: 5em 15%;
}

.col-left, .col-right {
    max-width: 100%;
    flex: 1 1 45%;
    box-sizing: border-box;
}

.col-box, .col-right {
    word-wrap: break-word;
}

.col-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
    padding-top: 3em;
}

.col-box{
    display: flex;
    align-items: left;
    gap: 1em;
}

.col-box i{
    font-size: 2em;
}

.col-box span{
    font-size: 1.2em;
}

.col-right{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    max-width: 500px;
    padding-top: 10px;
}

.col-right span{
    font-size: 1.3em;
}

.col-right .social-icons{
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap: 1em;
}

.col-right .social-icons i{
    font-size: 2em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.social-icons i:hover{
    color: white;
}

/*Media Query*/

@media (max-width: 968px) {
    section {
        padding: 8em 15%;
    }

    nav .button {
        display: none;
    }

    #menu {
        display: block;
        cursor: pointer;
        font-size: 2em;
        color: white;
    }

    .links {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1em 3em;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .links.active {
        display: flex;
    }

    .links a {
        margin: 2em 0;
        display: block;
        font-size: 1.5em;
        color: white;
        text-decoration: none;
    }

    #home h1 {
        font-size: 4em;
    }

    #home h3 {
        font-size: 2em;
    }

    #home img {
        width: 24vw;
    }

    #about {
        flex-direction: column;
    }

    #about img {
        width: 32vw;
    }

    #about h1 {
        font-size: 3em;
    }

    #about ul {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    #home h1 {
        font-size: 2.5em;
    }

    #home h3 {
        font-size: 1.5em;
    }

    #home img {
        width: 32vw;
    }

    #about .arsenal {
        gap: 3em;
    }

    #experience .header {
        font-size: 3em;
    }

    #contact .header {
        font-size: 3em;
    }

    #contact .input-box span {
        font-size: 1.2em;
    }

    .input-box input {
        padding: 0.5em 1em;
    }

    footer {
        flex-direction: column;
        padding: 1em 5%;
        gap: 1em;
        align-items: baseline;
    }

    .header {
        font-size: 3rem;
    }
    
    .box {
        padding: 1.5rem;
    }

    .box h1 {
        font-size: 1.5rem;
    }
}

